.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .pageBtn {
    margin: 0px 5px;
    border: 1px solid white;
  }
  
  .notCurrent {
    color: black;
    background-color: white;
    border: 1px solid white;
  }
  .notCurrent:hover:not(:disabled) {
    border: 1px solid black;
  }
  .notCurrent:disabled {
    color: gray;
    background-color: white;
    cursor: pointer;
  }
}
